@import '../_var.scss';
@import '../_mixins.scss';

.container {
    @include flex-center;
    height: 100%;
    border-radius: $medium-size;
    background-color: $banana-mania-color;
    font-size: $x-large-size;
    grid-area: header;
    width: 50%;
}