@import '../_var.scss';
@import '../_mixins.scss';

.container {
    grid-area: shopList;
    @include default-state;
    padding: $large-size;
    h2 {
        margin: $small-size 0 $small-size $small-size;
    }
    ul {
        li {
            margin: $medium-size;
            &::after {
                content: '';
                display: block;
                height: 1px;
                background-color: #000;      
            }            
        }
    }
}