@import '../_var.scss';
@import '../_mixins.scss';
.container {
    grid-area: priorities;
    @include default-state;
    padding: 0 $large-size;    
    h2 {
        margin-top: $medium-size;
    }
    .column {
        display: flex;
        justify-content: space-between;
        gap: $small-size;
        height: 80%;
        .item {           
            width: 100%;
            position: relative;
            &:last-child {
                &::after {
                    display: none;
                }
            } 
            @include show-dark-line-vertical;
            .number {                
                font-size: $large-size;
                position: relative;
                padding-bottom: $small-size;
                @include show-dark-line-horizontal;
            }
        }      
    }
}