@import './_var.scss';

@mixin active {
    color: $primary-color;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
}

@mixin inactive {
    color: $secondary-color;
    text-decoration: none;
    font-weight: normal;
    font-size: 1rem;
    text-transform: none;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin default-state {
    background-color: #fff;
    color: #000;
    border-radius: $medium-size;
}

@mixin show-line ($width) {
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0; 
        width: $width; 
        height: 1px;
        background-color: black;
    }  
}

@mixin show-dark-line-vertical{
    &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 25%; 
        height: 90%;
        width: 1px;
        background-color: black;
    }    
}

@mixin show-small-component {
    height: 100%;
    border-radius: $medium-size;
    background-color: $banana-mania-color;
    font-size: $x-large-size;    
    width: 50%;
}

@mixin main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-auto-rows: minmax(50px, auto); 
    grid-gap: $small-size;
    padding: $large-size;
    min-height: 100vh; 
    background-color: $coral-reef-color;
    border-radius: 50px;
    border: 30px solid $gold-sand-color;
}

@mixin input-style {
    appearance: none;        
    border: none;
    background: none;
    outline: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

@mixin img-style($size) {
    position: absolute;
    right: $large-size;
    bottom: $size;
    width: $large-size;
    cursor: pointer;
    transition: all 0.3s ease;
    filter: brightness(0) saturate(100%) invert(61%) sepia(64%) saturate(239%) hue-rotate(354deg) brightness(91%) contrast(89%);
    &:hover {
        filter: brightness(0) saturate(100%) invert(93%) sepia(10%) saturate(1390%) hue-rotate(324deg) brightness(108%) contrast(97%);
    }
}
