$primary-color: #007bff9f; 
$secondary-color: #6c757d; 

$olive-drab-color: #8d8741;
$coral-reef-color: #659dbd;
$gold-sand-color: #daad86;
$cameo-color: #bc986a;
$banana-mania-color: #fbeec1;

$small-size: 0.8rem;
$medium-size: 1rem;
$large-size: 1.2rem;
$x-large-size: 1.5rem;

 