/* Обнуляющие стили */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* Конец обнуляющие стили */

@import './_var.scss';
@import './_mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  font-family: 'Josefin Sans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: $gold-sand-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  padding: $large-size;
  min-height: 100vh;   
  background-color: $coral-reef-color;
  border-radius: 50px;
  border: 30px solid $gold-sand-color;
  display: grid;
  grid-gap: $small-size;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 30% 1fr 1fr;
  grid-template-areas: 
    "header header"
    "priorities priorities"
    "shopList habits"
    "shopList notes";
}

.active {
  @include active;
}

.inactive {
  @include inactive;
}

