/* Обнуляющие стили */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* Конец обнуляющие стили */

@import './_var.scss';
@import './_mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  font-family: 'Josefin Sans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: $gold-sand-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main__daily {
  @include main-grid;
  grid-template-areas: 
    "header header"
    "priorities priorities"
    "shopList habits"
    "shopList notes";
}

.main_dayOfWeek {
  @include main-grid;
  grid-template-areas: 
    "header header"
    "dayOfWeek dayOfWeek"
    "schedule smile"
    "schedule water"
    "schedule important"
    "schedule todos"
    "notes todos";
}

.header {
  grid-area: header;
}

.dayOfWeek {
  grid-area: dayOfWeek;
  @include show-small-component;
  @include flex-center;
  gap: $small-size;
  background-color: #fff;
  width: 60%;
  padding: $large-size;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.smile {
  grid-area: smile;
  div {
    width: 100%;
  }
}

.water {
  grid-area: water;
  div {
    width: 100%;
  }
}

.important {
  grid-area: important;
}

.todos {
  grid-area: todos;
}

.active {
  @include active;
}

.inactive {
  @include inactive;
}

